<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kika.koalaaddemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".NativeAdActivity" />
        <activity android:name=".AboutActivity" />

        <meta-data
            android:name="AD_AGENT_APPKEY"
            android:value="34c0ab0089e7a42c8b5882e1af3d71f9" />
        <meta-data
            android:name="AD_AGENT_SECRET"
            android:value="ca00979da70d717059562f1e85ef06ee" />

    </application>

</manifest>